body{
  margin:0;
  background-color: #000000;
}
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.dgpicture{
  width: 50%;
}
.dspicture{
  width: 50%;
}
.links{
display: flex;
flex-direction: column;
}

.body main{
  display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
    .header{
               width:100%;
                background-color:#001f52;
                padding: 3px;
                 height:120px;
           }
    .headerpicture{
        float:left;
        margin:0px;
        width:120px;
        height:120px;
    }
    .headerback{
      width: 98%;
      height: 63%;
        background-color:#4f92ff;
        padding: 3px;
	       margin-left: auto;
	        margin-right: auto;
         font-family:sans-serif;
    }
    .nav{
      display: flex;
      background-color:#4f92ff;
      width: 95%;
      margin: 0 auto;
       margin-top:20px;
       padding:10px;
       border-radius: 20px;
       flex-direction: column;
       align-items: center;
    }
    .navlinks{
      display:flex;
      justify-content:space-around;
      align-items:center;
      flex-wrap:wrap;
      font-family:sans-serif;
    }
    .navlist{
      width: 98%;
       background-color:#4f92ff;
       margin: 0 auto;
       margin-top:20px;
       padding:3px;
       font-family:sans-serif;
       border-radius: 20px;
       order:1;
    }
    .navtable{
    text-align: center;
      width: 95%;
      background-color:#4f92ff;
      margin: 0 auto;
      margin-top:20px;
      padding:10px;
      font-family: sans-serif;
      border-radius: 20px;
      order:3;
    }
    table{
      margin:0 auto;
      font-family: sans-serif;
      text-align: center;
      background-color: #f5d7bf;
      border-collapse: collapse;
      border-spacing: 5px;
      color: #656665;
      border: 2px solid;
    }
    th{
      background-color: #afcde7;
      color: white;
      font-size: 18px;
      padding: 10px 20px;
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: white;
    }
    td{
      padding: 10px;
      border-style: solid;
      border-width: 0 1px 1px 0;
      border-color: white;
    }
    .even{
      background-color: yellowgreen;
    }
    .navform{
      display: flex;
      justify-content:space-around;
      align-items:center;
      flex-wrap:wrap;
      width: 95%;
      background-color:#4f92ff;
      margin: 0 auto;
      margin-top:20px;
      margin-bottom:20px;
      padding:10px;
      font-family:sans-serif;
      border-radius: 20px;
      order:2;
    }
    .footer{
      width:88%;
      background-color:#001f52;
      padding:30px;
      font-family:sans-serif;
      margin-top: 20px;
      border-radius: 20px;
      font-size: 10pt;
    }
    .footerspan{
      display:flex;
      justify-content:space-around;
      align-items:center;
      flex-wrap:wrap;
      background-color:#4f92ff;
      border-radius: 20px;
      font-family:sans-serif;
      color: white;
      font-size: 10pt;
    }

    @media screen and (min-width: 1080px){
      .body{
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      .links{
        display: flex;
        flex-direction: row;
        display:inline-block;
      }
      .header{
                 width:100%;
                  background-color:#001f52;
                  padding: 10px;
                   height:120px;
             }
      .headerpicture{
          float:left;
          margin:0px;
          width:120px;
          height:120px;
      }
      .headerback{
          background-color:#4f92ff;
          padding:10px;
           font-family:sans-serif;
      }
      .nav{
        max-width:800px;
        background-color:#4f92ff;
        margin: 0 auto;
         margin-top:20px;
         padding:10px;
         border-radius: 20px;
      }
      .navlinks{
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap:wrap;
        font-family:sans-serif;
      }
      .navlist{
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap:wrap;
        flex-direction: column;
        max-width:800px;
         background-color:#4f92ff;
         margin: 0 auto;
         margin-top:20px;
         padding:10px;
         font-family:sans-serif;
         border-radius: 20px;
      }
      .navtable{
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap:wrap;
        max-width:800px;
        background-color:#4f92ff;
        margin: 0 auto;
        margin-top:20px;
        padding:10px;
        font-family: sans-serif;
        border-radius: 20px;
        order:2
      }
      table{
        font-family: sans-serif;
        text-align: center;
        background-color: #f5d7bf;
        border-collapse: collapse;
        border-spacing: 5px;
        color: #656665;
        border: 2px solid;
      }
      th{
        background-color: #afcde7;
        color: white;
        font-size: 18px;
        padding: 10px 20px;
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
      }
      td{
        padding: 10px;
        border-style: solid;
        border-width: 0 1px 1px 0;
        border-color: white;
      }
      .even{
        background-color: yellowgreen;
      }
      .navform{
        max-width:800px;
        background-color:#4f92ff;
        margin: 0 auto;
        margin-top:20px;
        margin-bottom:20px;
        padding:10px;
        font-family:sans-serif;
        border-radius: 20px;
        order:3;
      }
      .footer{
        width:95%;
        background-color:#001f52;
        padding:50px;
        font-family:sans-serif;
        border-radius: 20px;
      }
      .footerspan{
        display:flex;
        justify-content:space-around;
        align-items:center;
        flex-wrap:wrap;
        background-color:#4f92ff;
        border-radius: 20px;
        font-family:sans-serif;
        color: white;
      }
    }
